image: node:latest

# This folder is cached between builds
# http://docs.gitlab.com/ee/ci/yaml/README.html#cache
cache:
  paths:
    - node_modules/

pages:
  script:
    - npm i
    - npm run generate
  artifacts:
    paths:
      - dist
  only:
    - main
