image: node:latest

# This folder is cached between builds
# http://docs.gitlab.com/ee/ci/yaml/README.html#cache
cache:
  paths:
    - node_modules/

verify_pr:
  script:
    - npm i
    - npm run generate
    - rm -rf dist/img
    # make GitLab pages happy
    - mv dist public
  artifacts:
    paths:
      - public
  only:
    - external_pull_requests

pages:
  script:
    - npm i
    - npm run generate
    - rm -rf dist/img
    # make GitLab pages happy
    - mv dist public
  artifacts:
    paths:
      - public
  only:
    - main
