:root {
    --spacing-xs: calc(var(--spacing) / 4);
    --spacing-s: calc(var(--spacing) / 2);
    --spacing: 16px;
    --spacing-l: calc(var(--spacing-s) + var(--spacing));
    --spacing-xl: calc(2 * var(--spacing));

    --line-width: 1px;

    --base-font-size: 16px;

    --sans-serif-font-stack:  -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans',
    'Droid Sans', 'Helvetica Neue', sans-serif;

    --serif-font-stack: essonnes-text, serif;
    --serif-headline-font-stack: essonnes-headline, serif;

    --font-stack: var(--sans-serif-font-stack);

    --background-dark: #000000;
    --background-light: #ffffff;
    --foreground-dark: #ffffff;
    --foreground-light: #000000;

    /* DARK/LIGHT THEMING DEFAULTS - use class .dark or .light if you want to switch themes */
    --background: var(--background-dark);
    --foreground: var(--foreground-dark);
}

.dark {
    --background: var(--background-dark);
    --foreground: var(--foreground-dark);
}

.light {
    --background: var(--background-light);
    --foreground: var(--foreground-light);
}

@custom-selector :--text p, h1, h2, h3, h4, h5, h6, span;

body {
    font-family: var(--font-stack);
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    /* font-size: var(--base-font-size); */

    color: var(--foreground);
    background-color: var(--background);

    box-sizing: border-box;
}

.bz-serif {
    --font-stack: var(--serif-font-stack);
}

.bz-serif h1,
.bz-serif h2,
.bz-serif h3,
.bz-serif h4,
.bz-serif h5,
.bz-serif h6,
 h1.bz-serif,
 h2.bz-serif,
 h3.bz-serif,
 h4.bz-serif,
 h5.bz-serif,
 h6.bz-serif {
    font-family: var(--serif-headline-font-stack);
}

h1 {
    font-size: 64px;
    font-weight: 900;
}

h1:not(:first-child) {
    margin-top: calc(2 * var(--spacing-xl));
}

h1:not(:last-child) {
    margin-bottom: var(--spacing-xl);
}

h2 {
    font-size: 32px;
    font-weight: 900;
}

h2:not(:first-child) {
    margin-top: calc(2 * var(--spacing-l));
}

h2:not(:last-child) {
    margin-bottom: var(--spacing-l);
}

h3 {
    font-size: 24px;
    font-weight: 900;
}

h3:not(:first-child) {
    margin-top: calc(2 * var(--spacing));
}

h3:not(:last-child) {
    margin-bottom: var(--spacing);
}

.bz-serif h3,
h3.bz-serif {
    font-style: italic;
}

h4 {
    font-size: 18px;
    font-weight: 900;
}

.bz-serif h4,
h4.bz-serif {
    font-style: italic;
}

h5 {
    font-size: 16px;
    font-weight: 900;
}

.bz-serif h5,
h5.bz-serif {
    font-style: italic;
}

h6 {
    font-size: 16px;
    font-weight: 600;
}

.bz-serif h6,
h6.bz-serif {
    font-style: italic;
}

input:not([type]), input[type="text"] {
    background: none;
    border-bottom: solid var(--line-width) var(--foreground);
}
